<div class="container mt-5">
  <div class="row mb-2">
    <div class="col-sm-6">
      <div class="input-group">
        <input class="form-control" type="text" name="name" id="name" placeholder="enter username">
        <div class="input-group-append">
          <button type="submit" class="new-user btn btn-primary">></button>
        </div>
      </div>
    </div>
  </div>
        
  <ul class="users list-group col-sm-6">
    {{#each users}} 
      <li class="list-group-item">{{this.name}}
        <button class="user btn btn-primary" data-name={{this.name}} data-id={{this.id}}>></button>
      </li> 
    {{/each}}
  </ul>

</div>

<script type="text/javascript" src="/assets/js/main.js"></script>