<div class="container mt-5">
    <div class="row mb-2">
        <div class="col-sm-6">
            <div class="input-group">
              <input class="form-control" type="text" name="username" id="username" placeholder="enter username">
                <div class="input-group-append">
                  <button type="submit" class="new-user btn btn-primary">></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <hr>
            <ul class="users list-group">
            {{#each users}} 
                <li class="user list-group-item" data-uuid={{this.uuid}}>{{this.username}}
                  <button class="btn btn-success done" data-id={{this.uuid}}>></button>
                </li> 
            {{/each}}
            </ul>
    </div>
</div>

<script type="text/javascript" src="/assets/js/main.js"></script>